### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [35]:
player_count = len(purchase_df["SN"].unique())
summary0_df=pd.DataFrame({"Player Count":[player_count]})
#summary0_df.index = None
summary0_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#number of unique games(items)
unique_items = len(purchase_df["Item Name"].unique())

#calculate # of purchases
purchases = len(purchase_df["Purchase ID"]),
               
#calculate total revenue 
total_revenue=(purchase_df["Price"].sum())

#calculate avg price
avg_price = total_revenue/purchases

#add summary (add , to total rev)
summary1_df = pd.DataFrame({"Unique Items" : [unique_items],
                           "Average Price": avg_price,
                           "Purchases": purchases,
                           "Total Revenue": total_revenue,
                           "index": ["Summary"]})
summary1_df["Average Price"]=summary1_df["Average Price"].map("${:.2f}".format)
summary1_df["Total Revenue"]=summary1_df["Total Revenue"].map("${:.2f}".format)
summary1_df

   Unique Items Average Price  Purchases Total Revenue    index
0           179         $3.05        780      $2379.77  Summary

In [22]:
summary1_df.set_index("index")

         Unique Items Average Price  Purchases Total Revenue
index
Summary           179         $3.05        780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
# group data from purchases using genders
gender_data = purchase_df.groupby("Gender")

#get count unique using screen names for genders
gender_counts = gender_data["SN"].nunique()

#gender_counts  #used as a check removed for production
#calculation for genders
gender_percentage = gender_counts/player_count * 100

#gender_percentage # used as check removed for production

#create df for above
gender_demo = pd.DataFrame({"Totals": gender_counts, "Gender Percentages": gender_percentage})
gender_demo.index.name = "Gender"
gender_demo.sort_values(["Totals"], ascending = False).style.format({"Gender Percentages":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#purchase analysis by gender
#get count of total purchases by genders
purchase_ct = gender_data["Purchase ID"].count()
##purchase_ct # just a check remove for production

#Get average prices , total purchases, average purchase totals/person per gender (check each step by calling df but delete)
avg_purchase = gender_data["Price"].mean()
avg_total = gender_data["Price"].sum()
avg_purchase_person=avg_total/gender_counts 

#create df with above
gender_analysis= pd.DataFrame({"Total Purchases": purchase_ct, "Average Price": avg_purchase, "Average Value": avg_total,
                               "Average Per Person": avg_purchase_person})
##gender_analysis #first check remove and format
gender_analysis.index.name ="Gender"
gender_analysis.style.format({"Average_Value":"${:,.2f}", "Average Price":"${:,.2f}",
                             "Average Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
#using to get low and highest age
print(purchase_df["Age"].max())
print(purchase_df["Age"].min())

45
7

In [40]:
#create bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

#create labels for age bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#place data in bins #check data first - calculations and final summary below
pd.cut(purchase_df["Age"], bins, labels =group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [41]:
#add bins to dataframe
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels =group_labels)
purchase_df.head()

#create groupby for Age group
age_group = purchase_df.groupby("Age Group")
##age_group #check - remove for production

#get totals
age_count=age_group["SN"].nunique()

#age_count

#-(printed for tracking removed for production)
#age_count.sum()
percentage=age_count/player_count*100
#percentage
#(used for check remove for production)
#create df for above
age_summary = pd.DataFrame({"Age Group Total": age_count,"Player Percentage by Age": percentage})


#age_summary
age_summary.index.name = "Age Ranges"
age_summary.style.format({"Player Percentage by Age":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#get purchases by age group
purchases_age = age_group["Purchase ID"].count()
#average price per age
avg_price_age = age_group["Price"].mean()
#calculations
total_purchase_value = age_group["Price"].sum()
avg_per_person_by_age = total_purchase_value/age_count

#create df with above
purchasing_analysis=pd.DataFrame({"Purchase Count": purchases_age, "Average Purchase": avg_price_age,
                                 "Total Purchase": total_purchase_value, 
                                  "Average Total Purchase by Person": avg_per_person_by_age})
#purchasing_analysis  #first check before formatting
purchasing_analysis.index.name ="Age Ranges"
purchasing_analysis.style.format({"Average Purchase":"${:,.2f}",
                                 "Total Purchase":"${:,.2f}",
                                 "Average Total Purchase by Person":"${:,.2f}",})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
#Group purchases by SN
spenders = purchase_df.groupby("SN")
# total purchases by name
purchase_count = spenders["Purchase ID"].count()
#calculations
avg_purchase_sn = spenders["Price"].mean()
##avg_purchase_sn #checkpoint - remove for production

purchase_total_sn=spenders["Price"].sum()
##purchase_total_sn  #checkpoint -remove for production

#create df with above 
top_spenders_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_sn,
                                     "Total Purchases": purchase_total_sn})
##top_spenders_analysis #first check analysis remove for production

#formatting and sorting 
top_spenders_analysis_final = top_spenders_analysis.sort_values(["Total Purchases"], ascending=False).head()
top_spenders_analysis_final.style.format({"Total Purchases":"${:,.2f}", "Average Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#most popular items df
popular_items = purchase_df[["Item ID", "Item Name", "Price"]]
##popular_items # checkpoint -remove for production

#items groupby
item_group = popular_items.groupby(["Item ID", "Item Name"]) 

#calculations
count_items = item_group["Price"].count()
purchase_values = item_group["Price"].sum()
item_price = purchase_values/count_items
##item_price  #checkpoint - remove for production

#create df with above
most_popular = pd.DataFrame({"Purchase Count": count_items, "Item Price": item_price,
                            "Total Purchase Values": purchase_values})
##most_popular  #checkpoint -remove for production

#formatting and sorting 
most_popular_analysis = most_popular.sort_values(["Purchase Count"], ascending=False).head()
##most_popular_analysis # checkpoint -remove for production
most_popular_analysis.style.format({"Item Price":"${:,.2f}", "Total Purchase Values":"${:,.2f}",})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
# dataframe for Most Profitable Items sorted with preveiw
most_profitable_analysis = most_popular.sort_values(["Total Purchase Values"], ascending=False).head()
#formating
most_profitable_analysis.style.format({"Item Price":"${:,.2f}", "Total Purchase Values":"${:,.2f}"})